 @import 'colors.css';
.signuppage{
    background-color: var(--black);
   /* margin-top: 32px; */
    height: 70vh;
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    
    
}
.signuppage .paper1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 700px;
}